.favourites {
    margin: 20px;
}

.controls {
    margin-bottom: 20px;
}

.episodes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.episode {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.episode .image-div img {
    width: 100%;
    height: auto;
}

.bottom-of-episode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bottom-of-episode svg {
    cursor: pointer;
}

/* Media queries for tablets (up to 768px) */
@media (max-width: 768px) {
    .episode {
        width: calc(50% - 20px); 
    }
}

/* Media queries for small screen sizes (up to 480px) */
@media (max-width: 480px) {
    .episode {
        width: calc(100% - 20px); 
    }
}