.header {
    display: flex;
    justify-content:end;
    position: sticky;
    align-items: end;
    top: 0;
    padding: 1em;
    background-color: #000;
    opacity: 75%;
    height: 10%;
    width: 100%;
    margin-bottom: 5px;
  }

  .header button {
    width: 100px;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    background-color: #b91da9;
    border-color: #b91da9;
    cursor: pointer;
  }
  
  .header button span {
    margin-right: 5px;
  }